header
	.header-top
		.container
			.row
				.navbar-top
					each value in HEADER.navbarTopList
						.navbar-top__item
							a.navbar-top__link(href=value.url)!= value.title
				.navbar-common
					.navbar-common__item
						a.navbar-common__link.navbar-common__link_login(href="#")
							span.navbar-common__link-icon
							|  Вход для дилеров
					.navbar-common__item
						a.navbar-common__link.navbar-common__link_email(href="mailto:example@gmail.com")
							span.navbar-common__link-icon
							|  Отправить письмо
	.header
		.container
			.row
				.header__wrap
					.header__wrap-item-left
						.brand
							a.brand__img(href="#")
								img(src="assets/images/brand.png" alt="Неоком")
							.brand__title Профессиональные радиостанции
					.header__wrap-item-right
						.header-phone
							a.header-phone__link(href="callto:+74997030730") +7
								span  (499) 703-0730
						.header-links
							.header-links__title Тактические гарнитуры
							.header-links__list
								.header-links__list-item
									a.header-links__list-link(href="#") 3М PELTOR
								.header-links__list-item
									a.header-links__list-link(href="#") DAVID CLARK
								.header-links__list-item
									a.header-links__list-link(href="#") Motorola
								.header-links__list-item
									a.header-links__list-link(href="#") Vertex
						.header-search
							form(action="")
								.header-search__row
									input.header-search__input(placeholder="Поиск" type="text" name="search")
									input.header-search__btn(type="submit" value="")
						// .header-support
								a.header-support__link(href="#") Техническая поддержка
			.header__bottom
				nav.navbar
					each value, ind in HEADER.navbar
						.navbar__item(class=(ind === 0) ? "is-active" : "")
							a.navbar__link(href=value.url)!= value.title
							if value.dropdown
								.navbar-dropdown
									ul.navbar-dropdown-list
										each list in value.dropdown
											li.navbar-dropdown-list__item
												a.navbar-dropdown-list__link(href=list.url)!= list.title
											
				.sub-navbar
					.sub-navbar__list
						each value, ind in HEADER.subnav
							.sub-navbar__list-item(class=(ind === 0) ? "is-active" : "")
								a.sub-navbar__link(href=value.url)!= value.title
								if value.dropdown
									.navbar-dropdown
										ul.navbar-dropdown-list
											each item, index in value.dropdown
												if item.list
													li.navbar-dropdown-list__item
														a.navbar-dropdown-list__link(href=item.url)!= item.title
														ul.navbar-dropdown-list
															each sublist in item.list
																li.navbar-dropdown-list__item
																	a.navbar-dropdown-list__link(href=sublist.url)!= sublist.title
												else
													li.navbar-dropdown-list__item
														a.navbar-dropdown-list__link(href=item.url, data-index=index)!= item.title